script(type="script/javascript").
  (function (d, w, c) { (w[c] = w[c] || []).push(function() { try { w.yaCounter22653488 = new Ya.Metrika({id:22653488, clickmap:true, trackLinks:true, accurateTrackBounce:true}); } catch(e) { } }); var n = d.getElementsByTagName("script")[0], s = d.createElement("script"), f = function () { n.parentNode.insertBefore(s, n); }; s.type = "text/javascript"; s.async = true; s.src = (d.location.protocol == "https:" ? "https:" : "http:") + "//mc.yandex.ru/metrika/watch.js"; if (w.opera == "[object Opera]") { d.addEventListener("DOMContentLoaded", f, false); } else { f(); } })(document, window, "yandex_metrika_callbacks");
noscript
  div
    img(src="//mc.yandex.ru/watch/22653488", style="position:absolute; left:-9999px;", alt="")

// Facebook Pixel Code
script.
  !function(f,b,e,v,n,t,s){if(f.fbq)return;n=f.fbq = function () {
    n.callMethod ?
  n.callMethod.apply(n,arguments):n.queue.push(arguments)};if(!f._fbq)f._fbq=n;
  n.push=n;n.loaded=!0;n.version='2.0';n.queue=[];t=b.createElement(e);t.async=!0;
  t.src=v;s=b.getElementsByTagName(e)[0];s.parentNode.insertBefore(t,s)}(window,
  document,'script','https://connect.facebook.net/en_US/fbevents.js');
  fbq('init', '1643260839305439');
  fbq('track', 'PageView', { lang: 'ru' });

noscript
  img(height="1", width="1", style="display:none", src="https://www.facebook.com/tr?id=1643260839305439&ev=PageView&noscript=1")