/**
 * Content
 */

.content
  @extend .container

  &-text
    font 400 1em $baseFontFamily
    color $baseColor
    margin 0

  &-link
    light-link($linkColor)

    &:hover
    &:active
    &:focus
      color: $linkAltColor
