/**
 * Header
 */

body
  margin 0
  padding 0

.header
  @extend .container
  margin-top 5%

.logo
  &-name
    margin 0
    font 700 2em $baseFontFamily
    color $baseColor

  &-desc
    margin 0
    font 400 1.5em $baseFontFamily
    color $accentColor
