// Import third-party at first
@import url("http://fonts.googleapis.com/css?family=PT+Sans:400,700&subset=cyrillic,latin")

// Import nib library 
// (it's preinstalled with grunt-contrib-stylus).
@import "nib"

// Import project styles
@import "variables"
@import "mixins"

@import "header"
@import "footer"
@import "contacts"
@import "content"
