/**
 * Mixins. When Nib is not enough:)
 */

inline-block()
  display inline-block
  zoom 1
  *display inline

.container
  margin 0 15% 3%

light-link($color)
  color $color
  text-decoration none
  border-bottom 1px solid lighten($color, 50%)

  &:hover
    border-bottom 0
