/**
 * Variables
 */

// Colors
$baseColor = #231f20
$altColor = #58595b
$accentColor = #00a9a4
$linkColor = #0002ff
$linkAltColor = #ff0200

// Fonts
$baseFontFamily = "PT Sans", "Myriad Pro", sans-serif
$altFontFamily = Georgia, Times, "Times New Roman", serif
