doctype 5
html(lang="ru")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=600")
    title Ильнур Халилов
    link(rel="stylesheet", type="text/css", href="public/build/main.css")
    link(rel="icon", type="image/svg+xml", href="public/i/icon.svg")
  body
    .page
      .header
        .logo
          h1.logo-name Ильнур Халилов
          h2.logo-desc Разработчик интерфейсов

      .contacts
        .contact
          .contact-label
            span.contact-label-text телефон
          .contact-data
            span.contact-data-text 8 (919) 47 90 295
        .contact
          .contact-label
            span.contact-label-text электропочта
          .contact-data
            a.contact-data-link(href="mailto:ilnur.khalilov@gmail.com") ilnur.khalilov@gmail.com
        .contact
          .contact-label
            span.contact-label-text скайп
          .contact-data
            a.contact-data-link(href="skype:xomyaq?chat") xomyaq
        //- .contact
        //-   .contact-label
        //-     span.contact-label-text сайт
        //-   .contact-data
        //-     a.contact-data-link(href="http://ilnurkhalilov.ru") ilnurkhalilov.ru

      .footer
        .copy Ильнур Халилов, 2013

    //- Insert your script on before body closed
    script(type="text/javascript", src="public/js/main.js")
