- var hash = commit ? "?" + commit : "";
doctype 5
html(lang="ru")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width")
    title Ильнур Халилов
    link(rel="stylesheet", type="text/css", href="public/build/main.css#{ hash }")
    link(rel="icon", type="image/png", href="public/i/favicon.png#{ hash }")
    link(rel="apple-touch-icon", href="public/i/apple-icon.png#{ hash }")
    link(rel="yandex-tableau-widget", href="manifest.json")
  body
    .page
      .header
        .logo
          h1.logo-name Ильнур Халилов
          h2.logo-desc Разработчик интерфейсов

      .contacts
        .contact
          .contact-label
            span.contact-label-text емейл
          .contact-data
            a.contact-data-link(href="mailto:ilnur.khalilov@gmail.com") ilnur.khalilov@gmail.com
        .contact
          .contact-label
            span.contact-label-text скайп
          .contact-data
            a.contact-data-link(href="skype:xomyaq?chat") xomyaq

      .content
        p.content-text
          | Не ищу работу.

      .links
        ul.links__menu
          li.links__menu-item
            a.links__menu-link(href="https://www.facebook.com/ikhalilov") Фейсбук
          li.links__menu-item
            a.links__menu-link(href="https://twitter.com/ilnurkhalilov") Твиттер

        ul.links__menu
          li.links__menu-item
            a.links__menu-link(href="https://github.com/i11v") Гитхаб
          li.links__menu-item
            a.links__menu-link(href="https://bitbucket.org/xomyaq") Битбакет
          li.links__menu-item
            a.links__menu-link(href="http://stackoverflow.com/users/833230/xomyaq") Стек Оверфлоу

      .footer
        .copy © 2014..2019

    include includes/analytics
